<%= render 'partials/notice' %>
<h1>List Customers</h1>
<ul>
  <li><%= link_to 'New Customer', new_customer_path %></li>
</ul>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.phone %></td>
      <td class=".show"><%= link_to 'show', customer_path(customer.id)  %></td>
      <td class=".edit"><%= link_to 'edit', edit_customer_path(customer.id)  %></td>
    </tr>
  <% end %>
</table>